div#header {
	text-align: center;
}

div#header h1 {
	font-size: 2.2em;
}

nav {
	border-bottom: lightgrey 1px solid;
	margin:0 auto;
	width:80%;
}

nav ul {
	text-align: center;
	padding:0;
	font-size:1.1em;
}

nav ul li {
	display:inline-block;
	padding:5px 15px;
	width:85px;
}

nav ul li a {
	border: rgba(0,0,0,0) solid 2px;
	border-left:none;
	border-right:none;
	padding: 10px;
	border-color:white;
	text-decoration:none;
	color:rgb(100,100,100);
	-webkit-transition: border-color 0.3s, padding 0.3s, color 0.3s;
}

nav ul li a.sel {
	color:green;
}

nav ul li a:hover {
	border-color: green;
	color:green;
	padding: 4px;
}

div#page_cont {
	width:70%;
	margin: 0 auto;
}
div#page_cont a {
	color: green;
	text-decoration: none;
}

div.side_cont {
	vertical-align: top;
}

div#left_cont {
	display:inline-block;
	width:30%;
}
div#left_cont p {
	display:inline-block;
	width:80%;
	text-align: right;
	margin: inherit auto;
}

div#right_cont {
	display:inline-block;
	width:70%;
}
