body {
	padding-bottom: 500px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#header {
	text-align: center;
}

div#header h1 {
	font-size: 2.2em;
	color: rgb(80,80,80);
}

nav {
	border-bottom: lightgrey 1px solid;
	margin:0 auto;
	width:80%;
}

nav ul {
	text-align: center;
	padding:0;
	font-size:1.1em;
}

nav ul li {
	display:inline-block;
	padding:8px 15px;
	width:85px;
}

nav ul li a {
	border: rgba(0,0,0,0) solid 2px;
	border-left:none;
	border-right:none;
	padding: 10px;
	text-decoration:none;
	color:rgb(100,100,100);
	-webkit-transition: border-color 0.3s, padding 0.3s, color 0.3s;
	transition: border-color 0.3s, padding 0.3s, color 0.3s;
	margin:0 auto;
}

nav ul li a.sel {
	color:green;
}

nav ul li a:hover {
	border-width: 2px;
	border-color: green;
	color:green;
	padding-top: 4px;
	padding-bottom: 4px;
}

div#page_cont {
	width:95%;
	max-width:800px;
	margin: 0 auto;
}
div#page_cont h1 {
	font-size: 1.5em;
	color: rgb(80,80,80);
}
div#page_cont a {
	color: green;
	text-decoration: none;
}
div#page_cont h2 {
	font-size: 1.3em;
	color: rgb(80,80,80);
}

p.pub span.title {
	font-size: 1.25em;
	color: rgb(60,60,60);
}
p.pub span.authors {
	font-size: 0.8em;
}
p.pub span.authors span.me {
	font-weight: bold;
}
p.pub span.venue {
	font-size: 0.8em;
	line-height:200%;
}
p.pub span.anchor{
	font-size: 0.9em;
	color: rgb(90,90,90);
}


div.side_cont {
	vertical-align: top;
}

div#left_cont {
	display:inline-block;
	width:30%;
	text-align: right;
}

div#left_cont p, div#left_cont h1{
	width:80%;
	margin: inherit auto;
}

div#right_cont {
	display:inline-block;
	width:70%;
}

div#right_cont h1.not_first {
	margin-top:30px;
}

@media screen and (max-width: 570px) {
	div#left_cont {
		width:100%;
		text-align:left;
	}
	div#right_cont {
		width:100%;
	}
}
